body {
  padding: 0 7%;
  background: rgba(136, 22, 2, 0.775);
}

h1 {
  color: white;
  text-align: center;
}

.gen1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  width: 40vw;
  height: 80vh;
  margin: 0.5% 0.5%;
  border-radius: 3%;
}

ul {
  columns: 4;
  text-transform: capitalize;
  text-align: center;
}

img {
  width: 8vw;
  height: 16vh;
  margin: auto;
}

.imgCont {
  background-color: white;
  border-radius: 50%;
  width: 35%;
  margin: 0 auto;
}

h3 {
  text-transform: capitalize;
}

hr {
  color: white;
}

.thumbImg {
  width: 5vw;
}

.evolutionDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 24vh;
  background-color: white;
  border-radius: 15px;
  width: 85%;
  margin: auto;
}

@media screen and (max-width: 980px) {
  .pokemon {
    width: 90vw;
  }
  body {
    padding: 0;
  }

  section {
    padding: 0 5%;
  }

  img {
    width: 25vw;
    height: 16vh;
    margin: auto;
  }

  .imgCont {
    width: 55vw;
  }

  .gen1 {
    justify-content: center;
  }
}

/* ! A ameliorer */
/* @media screen and (min-width: 481px) and (max-width:980px) {
  .pokemon {
    width: 35vw;
  }
  body {
    padding: 0;
  }

  section {
    padding: 0 5%;
  }

  img {
    width: 10vw;
    height: 16vh;
    margin: auto;
  }

  .imgCont {
    width: 30vw;
  }

  .gen1 {
    justify-content: center;
  }
} */

