body {
  padding: 0 7%;
  background: rgba(136, 22, 2, 0.775);
}

h1 {
  color: white;
  text-align: center;
}

.gen1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  width: 15vw;
  margin: 0.5% 0.5%;
  border-radius: 5%;
}

ul {
  columns: 2;
  text-transform: capitalize;
  text-align: left;
}

img {
  width: 8vw;
  height: 16vh;
  margin: auto;
}

.imgCont {
  background-color: white;
  border-radius: 50%;
  width: 75%;
  margin: auto;
}

h3 {
  text-transform: capitalize;
}

hr {
  color: white;
}

.thumbImg {
  width: 5vw;
}

@media screen and (max-width: 999px) {
  .pokemon {
    width: 90vw;
  }
  body {
    padding: 0;
  }

  section {
    padding: 0 5%;
  }

  img {
    width: 32vw;
    height: 16vh;
    margin: auto;
  }

  .imgCont {
    width: 55vw;
  }

  .gen1 {
    justify-content: center;
  }
}
